<body class="text-center">

  <main class="form-signin w-100 m-auto">
    <form>
      <img class="mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72"
        height="57">
      <h1 class="h3 mb-3 fw-normal">Please Sign up</h1>

      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="phone" placeholder="+(84) 333 555 777">
        <label for="phone">Phone</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="email" placeholder="email@gmail.com">
        <label for="email">Email</label>
      </div>


      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="John Doe">
        <label for="email">Name</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="address" placeholder="19 Nguyen Huu Tho">
        <label for="address">Address</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="birthday" placeholder="John Doe">
        <label for="birthday">Birthday</label>
      </div>


      <div class="mb-3">
        <label for="before-identification" class="form-label w-100 text-start">Before of Identification Card</label>
        <input class="form-control" type="file" id="before-identification">
      </div>

      <div class="mb-3">
        <label for="after-identification" class="form-label w-100 text-start">After of Identification Card</label>
        <input class="form-control" type="file" id="after-identification">
      </div>


      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
  </main>

  <script src="/javascripts/signUp.js"></script>
</body>